<section>
    <%= render "shared/header", current_user: @current_user %>
    <div class="user-status">
      <% if user_signed_in? %>
        <%= link_to "+ New Post", new_user_post_path(@current_user) %>
        <div class="users-container">
          <% @users.each do |user| %>
            <%= render "shared/user_card", user: user %>
          <% end %>
        </div>
      <% else %>
        <div class="public">
            <p class="join shadow">Join PostStream to create and interact with posts</p>
            <%= render "shared/public" %>
        </div>
      <% end %>
    </div>
    <%= render "shared/footer", current_user: @current_user %>
</section>
