<section class="registration-section">
  <%= render "shared/header" %>
  <main class="form-container forgot-pwd">
    <h2 class="form-title">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "shadow" %>
      </div>
    <% end %>
  </main>
  <%= render "shared/footer" %>
</section>
