<header class="header">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

    <%= link_to "PostStream", root_path, class: "brand" %>

    <% if user_signed_in? %>
        <div>
          <%= link_to current_user.name, user_path(current_user) %>
          <span><%= current_user.name[0].upcase %></span>
        </div>
    <% else %>
        <div class="authentication">
          <%= link_to 'Register', new_user_registration_path, class: "auth-link shadow" %>
          <%= link_to 'Log In', new_user_session_path, class: "auth-link shadow" %>
        </div>
    <% end %>
</header>
