<section class="user-card shadow">
    <div class="user-photo">
        <% if user.photo %>
            <img src="<%= user.photo %>" alt="No Profile Photo", class="membership">
        <% else %>
            <img src="<%= "https://randomuser.me/api/portraits/men/#{rand(1..80)}.jpg" %>" alt="No Profile Photo", class="membership">
        <% end %>
    </div>
    <div class="user-info">
      <header class="user-header">
        <h2 class="name"><%= link_to user.name, user_path(user) %></h2>
        <span class="membership"><%= user.role || "member" %></span>
      </header>
    </div>
    <p class="posts-number">Number of Posts: <%= user.posts_counter || 0 %></p>
</section>
