<section class="registration-section flex-center-center">
  <main class="form-container shadow">
    <h2 class="form-title">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field login">
        <%= f.label :email %><br />
        <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field login">
        <%= f.label :password %><br />
        <%= f.password_field :password, required: true, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class: "shadow" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    <% end %>

    <div class="flex-center-center next-actions-links">
      <%= render "devise/shared/links" %>
    </div>
  </main>
</section>
