<main class="flex-center-center new-post-section">
    <div class="new-post-container">
      <h1 class="align-self-center new-post-title">Add New Post</h1>
      <%= form_with model: @post, url: user_posts_path(@user) do |form| %>
      <div class="post-form">
        <%= form.text_field :title, required: true, placeholder: 'Post title', autofocus: true, class: "new-post-input" %>
        <%= form.text_area :text, required: true, autofocus: true, placeholder: 'Write your post here', rows: "12", height: "auto", class: "new-post-input" %>
        <%= form.submit "Submit", class: "button shadow" %>
        <%= link_to 'Cancel', user_posts_path, class: "btn-cancel align-self-center" %>
      </div>
      <% end %>
    </div>
</main>
